<div class="container">
  <aside>
        <a href="http://localhost:4200/users" id="users">Users</a>
        <a href="http://localhost:4200/companies" id="companies">Companies</a>
        <a href="http://localhost:4200/items" id="items">Items</a>
  </aside>
  <div class="content">
    <form (ngSubmit)="processForm()">
        <!-- <div class="form group">
            <label for="id">ID</label>
            <input type="text" name="id" class="form-control" [(ngModel)]="user.id">
        </div> -->
        <div class="form group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" class="form-control" [(ngModel)]="user.firstName">
        </div>
        <div class="form group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" [(ngModel)]="user.lastName">
        </div>
        <div class="form group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="user.email">
        </div>
        <div class="form group">
            <label for="userName">username</label>
            <input type="text" name="userName" class="form-control" [(ngModel)]="user.userName">
        </div>
        <div class="form group">
            <label for="password">password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="user.password">
        </div>
        <div class="form group">
            <label for="company">company</label>
            <input type="text" name="company" class="form-control" [(ngModel)]="user.company">
        </div>
        <div class="form group">
            <label for="role">role</label>
            <input type="text" name="role" class="form-control" [(ngModel)]="user.role">
        </div>
        <div class="form group">
            <label for="userImage">User image</label>
            <input type="file" name="userImage" class="form-control" [(ngModel)]="user.userImage">
        </div>
        <input type="submit" value="save" class="btn btn-success">
    </form>
  </div>
</div>
