<div class="container">
  <aside>
        <a href="http://localhost:4200/users" id="users">Users</a>
        <a href="http://localhost:4200/companies" id="companies">Companies</a>
        <a href="http://localhost:4200/items" id="items">Items</a>
  </aside>
  <div class="content">
    <form (ngSubmit)="processForm()">
        <!-- <div class="form group">
            <label for="id">ID</label>
            <input type="text" name="id" class="form-control" [(ngModel)]="item.id">
        </div> -->
        <div class="form group">
            <label for="itemName">Name</label>
            <input type="text" name="itemName" class="form-control" [(ngModel)]="item.itemName">
        </div>
        <div class="form group">
            <label for="orderNumber">Order number</label>
            <input type="text" name="orderNumber" class="form-control" [(ngModel)]="item.orderNumber">
        </div>
        <div class="form group">
            <label for="category">Category</label>
            <input type="text" name="category" class="form-control" [(ngModel)]="item.category">
        </div>
        <div class="form group">
            <label for="value">Value</label>
            <input type="text" name="value" class="form-control" [(ngModel)]="item.value">
        </div>
        <div class="form group">
            <label for="description">Description</label>
            <input type="text" name="description" class="form-control" [(ngModel)]="item.description">
        </div>
        <div class="form group">
            <label for="barcode">Barcode</label>
            <input type="text" name="barcode" class="form-control" [(ngModel)]="item.barcode">
        </div>

        <div class="form group">
            <label for="company">Company</label>
            <select name="company" class="form-control">
              <option *ngFor="let company of companies">{{company.companyName}}</option>
            </select>
        </div>

        <input type="submit" value="save" class="btn btn-success">
    </form>
  </div>
</div>
