<div class="container">
  <aside>
        <a href="http://localhost:4200/users" id="users">Users</a>
        <a href="http://localhost:4200/companies" id="companies">Companies</a>
        <a href="http://localhost:4200/items" id="items">Items</a>
  </aside>
  <div class="content">
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Valid licence till</th>
            <th>Contact person</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{company.id}}</td>
                <td>{{company.companyName}}</td>
                <td>{{company.companyAddress}}</td>
                <td>{{company.licenceTill}}</td>
                <td>{{company.contactPerson}}</td>
                <td>
                  <button class="btn btn-danger" (click)="confirmDelete(company)">Delete</button>
                  <button class="btn btn-primary" (click)="updateCompany(company)">Edit</button>
                </td>

            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="newCompany()">New Company</button>
  </div>
</div>
